/* CSS RESETER */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
    --grid-width: 640px;
}
main {
    padding: 16px;
}
.grid {
    background: black;
    width: var(--grid-width);
    aspect-ratio: 1/1;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cell {
    aspect-ratio: 1/1;
}